<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        // const arr1 = [1, 2, 3, 4, 5, 6, 7]
        // const arr2 = [1, 2, 3, 4, 5]
        // // 两个数组对比，把arr1的6，7添加到arr2里面
        // arr1.forEach(item1 => {
        //     arr2.forEach(item2 => {
        //         if (item1 === item2) return;
        //         console.log(item1)
        //     })
        // })

        let arr1 = [1, 2, 3, 4, 5, 6, 7];
        let arr2 = [2, 3, 4, 5]


        // function getArrDifference(arr1, arr2) {
        //     return arr1.concat(arr2).filter(function (v, i, arr) {
        //         return arr.indexOf(v) === arr.lastIndexOf(v);
        //     });
        // }
        // console.log(getArrDifference())

        var array1 = [{
            "USER_ID": "1111",
            "USER_NAME": "88881",
            "TF_REMARK": "备注备注备注"
        }, {
            "USER_ID": "2222",
            "USER_NAME": "88882",
            "TF_REMARK": "这是一个备注"
        }];

        var array2 = [{
                "USER_ID": "1111",
                "USER_NAME": "88881",
                "TF_REMARK": "备注备注备注"
            },
            {
                "USER_ID": "2222",
                "USER_NAME": "88881",
                "TF_REMARK": "备注备注备注"
            },
            {
                "USER_ID": "3333",
                "USER_NAME": "88882",
                "TF_REMARK": "这是一个备注"
            },
            {
                "USER_ID": "4444",
                "USER_NAME": "8888",
                "TF_REMARK": null
            }
        ];
    </script>
</body>
</html>